%h1 Todos

%table.table
  %thead
    %tr
      %th State
      %th Content
      %th Slug
      %th Private
      %th
      %th
      %th
      %th

  %tbody
    = render @tasks_todo

%br

= link_to 'New Task', new_task_path


%h1 Doing

%table.table
  %thead
    %tr
      %th State
      %th Content
      %th Slug
      %th Private
      %th
      %th
      %th
      %th

  %tbody
    = render @tasks_doing

%br

%h1 Done

%table.table
  %thead
    %tr
      %th State
      %th Content
      %th Slug
      %th Private
      %th
      %th
      %th
      %th

  %tbody
    = render @tasks_done

%br